.semestre {
    background: var(--secondary500);
    border-radius: 16px;
    margin: 0 -15px;
}

.module {
    background-color: var(--success-background);
    
    border-radius: 16px;
    overflow: clip;

    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;

    border: 2px solid var(--secondary);
    box-shadow: 0 0 10px var(--secondary);
}

.module p {
    margin: 5px 0;
}

#ModNum {
    width: fit-content;
    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    padding: 2px 15px;
    margin: 0 0 5px 0;

    background-color: var(--secondary);
}

#ModTitle {
    margin: -5px 0 5px 0;
    width: fit-content;
    
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;

    padding: 2px 15px;

    background-color: var(--tertiary500);
    color: var(--main);
}

#section {
    background-color: var(--secondary);
    margin: 5px 0;
    padding: 5px 15px;

    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.module input {
    border-radius: 16px;
    border: none;

    padding: 0 15px;
    height: 25px;
    width: 250px;

    background: rgba(from var(--main) r g b / 0.75);
    color: var(--accent);
}

.bouton {
    display: flex;
    margin: 5px;
}

.bouton button{
    background: var(--secondary);
    color: var(--accent);

    border: none;
    border-radius: 16px;
    margin-right: 15px;

    transition: .3s;
}

.bouton button:hover {
    cursor: pointer;
    background-color: var(--tertiary500);
    color: var(--main);

    transition: .3s;
}

.bouton p {
    margin: 0;
}