.recueilContent {
    background: rgba(from var(--secondary) r g b / .15);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.recueilDesc h1 {
    margin: 10px 0;
}

.recueilDesc p {
    color: var(--light-gray);
    margin: 0;
    font-size: 12px;
}

.success {
    margin: 0 !important; /* Override global Success Component */
}

@media screen and (width <= 496px) {

    .recueilContent {
        text-align: center;
        text-justify: none;
    }

}


/* Creating */

.poem {

    background-color: rgba( from var(--main100) r g b / 0.1);
    box-shadow: 10px 10px 10px -5px var(--main);
    padding: 10px;
    border-radius: 18px;
    margin: 20px 0;
    position: relative;

    .success {
        h2 input, h3 input {
            background-color: rgba( from var(--main) r g b / 0.75);
            border: none;
            border-radius: 128px;
            font-size: inherit;
            color: var(--accent);
            padding: 5px 10px;
        }

        h3 input[type=date] {
            background: none;
        }
    }

    textarea {
        margin: 10px 0;
        padding: 10px;
        
        border: none;
        border-radius: 8px;
        
        background-color: rgba(from var(--secondary) r g b / .15);
        color: var(--accent);

        max-width: calc(100% - 20px);
        width: 100%;
    }
}

.submit {
    background-color: rgba(from var(--secondary) r g b / .75);
    box-shadow: 5px 5px 5px 0px var(--main);
    border-radius: 16px;
    padding: 4px 8px;
    cursor: pointer;
    transition: .3s;
}

.submit:hover {
    box-shadow: 5px 5px 5px -3px var(--main);
    background-color: var(--secondary);
    font-size: 17px;
    transition: .3s;
}

newPoem {
    border-radius: 64px;

    padding: 0px 10px;
    
    font-weight: 900;
    
    color: var(--error);
    background-color: rgba(from var(--error-background)r g b / .15);
    
    display: inline-block;
    rotate: -30deg;
    
    position: absolute;
    left: -18px;
    top: -8px;
}

newPoem::before {
    content: "NEW";
}