/* ==== [ Main ] ==== */

/* |===========| */
/* |    bio    | */
/* |===========| */


main #bio {
    padding: 5% 0 5% 0 ;
    display: flex;
    flex-direction: column;
}

main #bio #main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main #bio #main strong {
    font-weight:550;
}

main #bio #main img {
    max-height: 75px;
    max-width: 75px;
    border-radius: var(--pfp-border-radius);
    margin: 10px 10px 0px 0px;
}

main #bio #main #name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main #bio #main p, main #bio p {
    margin: 5px 0;
}

main #bio #main #short {
    margin: 10px 0 0 0;
}

#bio-comment {
    cursor: pointer;
    user-select: none;
}


/* |============| */
/* |   Others   | */
/* |============| */



svg {
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: var(--accent);
    fill: var(--accent);
    transition: .3s;
}

/* Left container side*/
#left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Center container */
#center-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Right container side */
#right-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* |=============| */
/* | Quick Links | */
/* |=============| */

#quick_links p{
    text-align: right;
}

/* |=============| */
/* |    Tools    | */
/* |=============| */

main #icons {
    display: flex;
    flex-wrap: wrap;
}

main #icons a figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

main #icons a:hover figure svg{
    stroke: var(--tertiary);
    fill: var(--tertiary);
    transition: .3s;
}

.container {
    display: flex;
    justify-content: space-between;
}

/*
MS logo colors
*/

#ms-red, #ms-green, #ms-blue, #ms-yellow {
    transition: .3s;
}

#ms-logo:hover #ms-red {
    fill: #f45326;
    transition: .3s;
}

#ms-logo:hover #ms-green {
    fill: #82bc06;
    transition: .3s;
}

#ms-logo:hover #ms-blue {
    fill: #05a6f1;
    transition: .3s;
}

#ms-logo:hover #ms-yellow {
    fill: #ffbb08;
    transition: .3s;
}



/* A bit of responsive, for once */
@media screen and (width < 1330px) {
    .container {
        flex-direction: column-reverse;
    }

    #icons {
        justify-content: center;
    }

    #left-column {
        text-align: center;
    }

    #center-column, #right-column, #quick_links p {
        text-align: center;
        flex-direction: column-reverse;
    }
}


@media screen and (width < 551px) {
    #right-column {
        display: none;
    }
}


@media screen and (width < 439px) {
    #center-column {
        display: none;
    }

    /* Will be usefull once the hamburger stuff will have been set up */
    /* nav {
        display: none;
    } */
}