input {
    all: unset;
    background-color: var(--tertiary100);
    border-radius: 8px;
    padding: 3px 5px 3px 15px;
    width: 50px;
    margin: 0 50px 0 0;
}

#params {
    display: flex;
    align-items: center;
}

#choice {
    background-color: none;
    border-radius: 16px;
    padding: 3px 15px;
    border: 2px solid var(--accent);
    margin: 0;
    cursor: pointer;
    user-select: none;

    transition: .3s;
}

#choice:hover {
    background-color: var(--tertiary);
    transition: .3s;
}