main ul.navigation li {
    list-style-type: none;
}

main ul.navigation li a {
    color: var(--secondary);
    text-decoration-color: var(--secondary);
    text-decoration-thickness: var(--h2-underline);
}

main ul.navigation li a:hover {
    color: var(--accent);
    text-decoration-color: var(--tertiary);
}

main ul.navigation li a#active {
    color: var(--tertiary);
    text-decoration-color: var(--tertiary);
}

main ul.navigation li a#active:hover {
    text-decoration-color: var(--accent);
}