/* ==== [ Main ] ==== */


/* |===========| */
/* |    bio    | */
/* |===========| */


main #bio {
    padding: 5% 0 5% 0 ;
    display: flex;
    flex-direction: column;
}

main #bio #main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main #bio #main strong {
    font-weight:550;
}

main #bio #main img {
    max-height: 75px;
    max-width: 75px;
    border-radius: var(--pfp-border-radius);
    margin: 10px 10px 0px 0px;
}

main #bio #main #name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main #bio #main p, main #bio p {
    margin: 5px 0;
}

main #bio #main #short {
    margin: 10px 0 0 0;
}

#bio-comment {
    cursor: pointer;
    user-select: none;
}


/* |============| */
/* |   Others   | */
/* |============| */



svg {
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: var(--accent);
    fill: var(--accent);
    transition: .3s;
}



/* |=============| */
/* |    Tools    | */
/* |=============| */

main #icons {
    display: flex;
    flex-wrap: wrap;
}

main #icons a figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #icons a:hover figure svg{
    stroke: var(--tertiary);
    fill: var(--tertiary);
    transition: .3s;
}

main #icons a figure{
    margin-left: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

/* A bit of responsive, for once */
@media screen and (width < 1060px) {
    .container {
        flex-direction: column-reverse;
    }
}